* {
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: rgb(34, 193, 195);
  background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

body {
  color: white;
  font-family: "Solway", serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.title {
  font-size: 5.5rem;
  color: rgb(23, 131, 131);
  font-family: "Permanent Marker", cursive;
  text-shadow: 2px 2px 3px white;
}

.subtitle {
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 400;
  font-size: 1.7rem;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.button {
  margin-left: 2rem;
  width: 10rem;
  height: 3.5rem;
  border-radius: 1.5rem;
  background-color: rgb(32, 112, 112);
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px black;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in 0.4s;
  font-family: "Solway", serif;
  outline-width: 0;

  &:hover {
    transform: scale(1.1);
    border: none;
    box-shadow: 0px 0px 10px grey;
  }
}

.input {
  width: 20rem;
  border: none;
  border-bottom: 0.1rem white solid;
  background: transparent;
  padding-left: 0.5rem;
  color: white;
  font-size: 1.6rem;
}

::placeholder {
  color: white;
  // font-size: 1rem;
  opacity: 0.5;

}

.content-wrapper {
  display: flex;
  flex-direction: row;
  margin: 4rem 0 0 2rem;
}

.results {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: start;
}

.favorites {
  text-align: center;
}

.content__title {
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
}

.show-list {
  &__results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 1rem;
  }

  &__favorite {
    padding-left: 0;
    text-align: center;
  }
}

.show {
  &__container {
    margin: 1rem;
    text-align: center;
    color: black;
    color: white;
    background-color: rgba(245, 242, 242, 0.082);
    width: 190px;


    &-img {
      width: 170px;
      text-align: center;
      padding-top: 0.7rem;
    }

    &-click {
      cursor: pointer;
      background-color: rgba(230, 233, 80, 0.575);
      color: white;
    }

    &-fav {
      background-color: transparent;
      padding: 0;
      margin-top: -2.8rem;
      border: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__img-fav {
    transform: scale(0.8);
    margin-bottom: 0;
  }

  &__title {
    padding-top: 0.5rem;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &-fav {
      padding-top: 0;
      font-size: 1.4rem;
      margin: -2rem auto 0 auto;
    }
  }
}

.close-fav {
  background: rgb(99, 20, 20);
  width: 1.7rem;
  height: 1.7rem;
  padding-top: 0.2rem;
  margin-left: -0.5rem;
  transform: translateY(4.6rem);
  border: rgb(29, 29, 83) solid 1px;
  cursor: pointer;
}

.reset-fav {
  border-radius: 2rem;
  cursor: pointer;
  background-color: rgba(230, 223, 223, 0.986);
  font-weight: 600;
  border: rgba(230, 223, 223, 0.986) solid 2px;
  outline-width: 0;
  transition: all ease-in 0.4s;
  font-family: "Solway", serif;
  text-transform: uppercase;

  &:hover {
    box-shadow: 0px 0px 20px grey;
    font-weight: bold;
    border: white solid 2px;
    transform: scale(1.1);
  }
}

.hidden {
  display: none;
}
